<div class="container" style="margin-top: 100px;margin-bottom: 60px ">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="display: flex;flex-direction: row">
            <div class="col-md-3 col-sm-6 text-center" style="background-color: rgba(235,235,235,0.65); border-radius: 10px; padding: 14px;flex: 1 1 auto; margin-left: 15px;margin-top: 10px ">
                <div>
                    <img src="https://www.bsn.eu/wp-content/uploads/2016/12/user-icon-image-placeholder-300-grey.jpg" style="border-radius: 50%; height: 40%;width: 40%">
                    <hr>
                    <p><strong>lipsum text</strong></p>
                    <p>Random Text 1</p>
                    <p>Random text 2</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center" style="background-color: rgba(235,235,235,0.65); border-radius: 10px; padding: 14px;flex: 1 1 auto; margin-left: 15px;margin-top: 10px">
                <div>
                    <img src="https://www.bsn.eu/wp-content/uploads/2016/12/user-icon-image-placeholder-300-grey.jpg" style="border-radius: 50%; height: 40%;width: 40%">
                    <hr>
                    <p><strong>lipsum text</strong></p>
                    <p>Random Text 1</p>
                    <p>Random text 2</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center" style="background-color: rgba(235,235,235,0.65); border-radius: 10px; padding: 14px;flex: 1 1 auto; margin-left: 15px;margin-top: 10px">
                <div>
                    <img src="https://www.bsn.eu/wp-content/uploads/2016/12/user-icon-image-placeholder-300-grey.jpg" style="border-radius: 50%; height: 40%;width: 40%">
                    <hr>
                    <p><strong>lipsum text</strong></p>
                    <p>Random Text 1</p>
                    <p>Random text 2</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center" style="background-color: rgba(235,235,235,0.65); border-radius: 10px; padding: 14px;flex: 1 1 auto; margin-left: 15px;margin-top: 10px">
                <div>
                    <img src="https://www.bsn.eu/wp-content/uploads/2016/12/user-icon-image-placeholder-300-grey.jpg" style="border-radius: 50%; height: 40%;width: 40%">
                    <hr>
                    <p><strong>lipsum text</strong></p>
                    <p>Random Text 1</p>
                    <p>Random text 2</p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>