<section>
	<div class="overlay"></div>
		<div class="container-fluid intro-section">
			<div class="row aos fadeinup">
				
				<%= render "navbar" %>

			</div>
			<div class="row aos fadeinup">
				<div class="container intro">
					<h4 class="intro-small-heading">PropGage</h4>
					<h2>Need urgent money?<br>
						Looking for a mortgage?<br>
						Want the highest bid for your asset? <br>
						You are at the correct place.
					</h2>
					<ul class="share-icons">
						<li data-toggle="tooltip" data-placement="left" title="Facebook"><a href="#" class="fa fa-facebook"></a> </li>
						<li data-toggle="tooltip" data-placement="left" title="Github"><a href="#" class="fa fa-github"></a></li>
						<li data-toggle="tooltip" data-placement="left" title="Twitter"><a href="#" class="fa fa-twitter"></a></li>
					</ul>
					<a href="/users/sign_up" class="btn btn-theme">Get Started !</a>
				</div>
			</div>
		</div>
</section>

<section class="land-section-2" style="padding: 100px 10px 50px;text-align:center;">
	<div class="container">
		<div class="section-content-2">
			<div class="section-head-2 aos fadeinup" style="border-bottom: 0.5px solid #fff6;margin:0px 20em;">
				<h1 style="font-weight:bold;margin-top:0px;padding-bottom:5rem;">PropGage</h1>
			</div>
			<div class="section-desc-2 aos fadeinup" style="color:black">
				<h3 style="font-weight: normal; font-family: serif;">
					What a pain it is to get the correct amount of loan even when you have proper collaterals. Our objective is to reduce the distance between borrowers and lenders.
					On our platform the borrowers can get the satisfactory amount of loan for their assets.
				</h3>
			</div>
			<div class="row aos fadeinup" style="padding:40px 0px 30px 0px">
				<div class="col-sm-3" style="border-right: 0.5px solid #fff6">
					<h1 class="stats_count" style="font-weight:bold;">50</h1><br>
					<p class="stats_heading">Awards Won</p>
				</div>
				<div class="col-sm-3" style="border-right: 0.5px solid #fff6">
					<h1 class="stats_count" style="font-weight:bold;">100</h1><br>
					<p class="stats_heading">Awards Won</p>
				</div>
				<div class="col-sm-3" style="border-right: 0.5px solid #fff6">
					<h1 class="stats_count" style="font-weight:bold;">150</h1><br>
					<p class="stats_heading">Awards Won</p>
				</div>
				<div class="col-sm-3">
					<h1 class="stats_count" style="font-weight:bold;">200</h1><br>
					<p class="stats_heading">Awards Won</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- What we Do section -->
<section style="padding-top: 162px;padding-bottom: 132px; background-color: white">
	<div class="container">
		<div class="row">
			<div class="col-md-12 aos fadeinup" style="text-align: center;">
				<h3 class="subhead" style="color: #2DBE60">WHAT WE DO</h3>
				<h1 class="mainhead">We remove your legwork to create a mortgage.</h1>
				<hr>
			</div>
			<div class="col-md-12">
				<div class="col-md-1 service-icon aos fadeinup">
					<i class="fa fa-sign-in"></i>
				</div>
				<div class="service-item-text col-md-5 aos fadeinup">
					<h2>Register</h2>
					<p>Register as a user on our website. You will have all the functionalities of both the lender and the borrower. After some verification of your account you will be able to open your assets for bidding or bid yourself.
					</p>
				</div>
				<div class="col-md-1 service-icon aos fadeinup">
					<i class="fa fa-briefcase"></i>
				</div>
				<div class="service-item-text col-md-5 aos fadeinup">
					<h2>Add your assets</h2>
					<p>You can start adding your assets as soon as you create your account but you cannot open it for bidding before verification. You can also add tags to your assets so that our algorithm can find interested bidders for you.
					</p>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-1 service-icon aos fadeinup">
					<i class="fa fa-gavel"></i>
				</div>
				<div class="service-item-text col-md-5 aos fadeinup">
					<h2>Open it for bidding</h2>
					<p>Once you have verified your account you will be able to open it for bidding and we will notify interested bidders through our intelligent algorithm so that they can bid their proposal for your asset.
					</p>
				</div>
				<div class="col-md-1 service-icon aos fadeinup">
					<i class="fa fa-user"></i>
				</div>
				<div class="service-item-text col-md-5 aos fadeinup">
					<h2>Lender will bid</h2>
					<p>Lenders will compete for your asset and will try to provide the best proposal for your asset and you will have the choice to select the perfect bid.
					</p>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-1 service-icon aos fadeinup">
					<i class="fa fa-users"></i>
				</div>
				<div class="service-item-text col-md-5 aos fadeinup">
					<h2>In-Person meetings</h2>
					<p>We will connect you to your perfect bidder and then you can meet with them in person and complete the deal.
					</p>
				</div>
				<div class="col-md-1 service-icon aos fadeinup">
					<i class="fa fa-handshake-o"></i>
				</div>
				<div class="service-item-text col-md-5 aos fadeinup">
					<h2>Deal Done!</h2>
					<p>You will be able to use the ease of online methods and security of in-person meetings and will be able to get the correct amount.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Clients section -->
<section style="padding-top: 162px;padding-bottom: 132px;">
	<div class="container">
		<div class="row">

			<div class="col-md-12 aos fadeinup" style="text-align: center">
				<h3 class="subhead" style="color:#2DBE60 ">Our Clients</h3>
				<h1 class="display-2">PropGage has been honored to
					partner up with these clients<br><br></h1>
			</div>

			<div class="col-md-12 aos fadeinup clients-outer">

				<div class="clients">

					<a href="#0" title="" class="clients__slide"><img style="height: 152px; width: 142px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/SBI-logo.svg/2000px-SBI-logo.svg.png" class="client-logo"/></a>
					<a href="#0" title="" class="clients__slide"><img style="height: 162px; width: 162px" src="https://zerocreativity0.files.wordpress.com/2016/01/pnb-logo.png?w=736" class="client-logo"/></a>
					<a href="#0" title="" class="clients__slide"><img style="height: 162px; width: 162px" src="https://www.switchme.in/my_assets/images/bank_schemes/axis_bank.png" class="client-logo"/></a>
					<a href="#0" title="" class="clients__slide"><img style="height: 182px; width: 192px" src="http://www.governmentjobsportal.net/wp-content/uploads/2015/12/Canara-Bank-Recruitment.png" class="client-logo"/></a>
					<a href="#0" title="" class="clients__slide"><img style="height: 162px; width: 182px" src="https://media.9curry.com/uploads/organization/image/1617/thumbnail_union-bank-of-india-logo.png" class="client-logo"/></a>
					<a href="#0" title="" class="clients__slide"><img style="height: 162px; width: 162px" src="https://logoeps.com/wp-content/uploads/2014/01/bank-of-baroda-vector-logo.png" class="client-logo"/></a>
					<a href="#0" title="" class="clients__slide"><img style="height: 162px; width: 162px" src="https://www.switchme.in/my_assets/images/bank_schemes/axis_bank.png" class="client-logo"/></a>

				</div> <!-- end clients -->
				<br><br>
				<hr>
			</div> <!-- end clients-outer -->


			<div class="col-md-12 clients-testimonials aos fadeinup">
				<div class="col-full">
					<div class="testimonials">

						<div class="testimonials__slide" style="text-align: center">

							<p style="margin-bottom: 40px;margin-top: 30px;font-size: 1.8rem">“You made it so simple. It was so quick. I was able to get more than I expected. This methos is awesome. Thanks, PropGage!”</p>

							<div class="testimonials__info">

								<img style="margin: 0 auto 1.2rem auto;width: 190px;height:180px;border-radius: 50%" src="https://www.finews.com/images/cache/5e01570fb902a2151e5c755a8f921990_w500_h300_cp.jpg" alt="Author image" class="testimonials__avatar">
								<span class="testimonials__name"><strong>Thomas Jordan</strong><br></span>
								<span class="testimonials__pos">Chairman, Swiss Bank</span>
							</div>

						</div>

						<div class="testimonials__slide" style="text-align: center">

							<p style="margin-bottom: 40px;margin-top: 30px;font-size: 1.8rem">“Wow. I just got my mortgage and it was SO SIMPLE. I am blown away. You guys are truly kick ass. Thanks for being so awesome. High fives!”

</p>

							<div class="testimonials__info">

								<img style="margin: 0 auto 1.2rem auto;width: 183px;height:180px;border-radius: 50%" src="https://www.nbr.co.nz/sites/default/files/story_imgs/Ross%20McEwan.jpg" alt="Author image" class="testimonials__avatar">
								<span class="testimonials__name"><strong>Ross McEwan</strong><br></span>
								<span class="testimonials__pos">CEO, Royal Bank of Scotland</span>
							</div>

						</div>

						<div class="testimonials__slide" style="text-align: center">

							<p style="margin-bottom: 40px;margin-top: 30px;font-size: 1.8rem">“I just wanted to share a quick note and let you know that you guys do a really good job. I’m glad I decided to continue with this. It’s really great how easy your websites are. I never have any problem at all.”</p>

							<div class="testimonials__info">

								<img style="margin: 0 auto 1.2rem auto;width: 183px;height:180px;border-radius: 50%" src="http://www.uniindia.com/cms/gall_content/2017/10/2017_10$largeimg04_Oct_2017_173353683.jpg" class="testimonials__avatar">
								<span class="testimonials__name"><strong>Rajnish Kumar</strong><br></span>
								<span class="testimonials__pos">Chairperson, SBI</span>
							</div>

						</div>

					</div><!-- end testimonials -->

				</div> <!-- end col-full -->
			</div> <!-- end client-testimonials -->
		</div>
	</div>
</section>

<!--Contact Section -->
<section style="padding-top: 162px;padding-bottom: 132px;background-color: #151515">
	<div class="container">
		<div class="row">
			<div class="col-md-12 aos fadeinup section-header" style="text-align: center">
				<h3 class="subhead" style="color:#2DBE60 ">Contact Us</h3>
				<h1 style="color: white">Reach out for a new project or just say hello</h1>
				<br>
			</div>

			<div class="col-md-12 aos fadeinup contact-content">
				<div class="col-md-7" style="background-color: #00000094;height: 610px;padding-left: 35px;padding-top: 20px">
					<div class="contact-primary">

						<h3 style="color:#2DBE60">Send Us A Message<br><br><br></h3>

						<form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
							<fieldset>

								<div class="form-field">
									<input name="contactName" type="text" id="contactName" placeholder="Your Name" value="" minlength="2" required="" aria-required="true" class="full-width">
								</div>
								<div class="form-field">
									<input name="contactEmail" type="email" id="contactEmail" placeholder="Your Email" value="" required="" aria-required="true" class="full-width">
								</div>
								<div class="form-field">
									<input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width">
								</div>
								<div class="form-field">
									<textarea name="contactMessage" id="contactMessage" placeholder="Your Message" rows="5" cols="50" required="" aria-required="true" class="full-width" style="height: auto;"></textarea>
								</div>
								<div class="form-field">
									<button class="btn full-width submit">Submit</button>
									<!--<div class="submit-loader">-->
									<!--<div class="text-loader">Sending...</div>-->
									<!--<div class="s-loader">-->
									<!--<div class="bounce1"></div>-->
									<!--<div class="bounce2"></div>-->
									<!--<div class="bounce3"></div>-->
									<!--</div>-->
									<!--</div>-->
								</div>

							</fieldset>
						</form>

						<!--&lt;!&ndash; contact-warning &ndash;&gt;-->
						<!--<div class="message-warning">-->
						<!--Something went wrong. Please try again.-->
						<!--</div>-->

						<!--&lt;!&ndash; contact-success &ndash;&gt;-->
						<!--<div class="message-success">-->
						<!--Your message was sent, thank you!<br>-->
						<!--</div>-->

					</div> <!-- end contact-primary -->
				</div>

				<div class="col-md-5" style="height:610px;background-color: #121212;color:rgba(255, 255, 255, 0.4);padding-left: 35px;padding-top: 20px">
					<div class="contact-secondary">
						<div class="contact-info">

							<h5 style="color: white"><strong>Contact Info</strong></h5>
							<br><br>
							<div class="cinfo">
								<h5 style="color:#2DBE60">Where to Find Us</h5>
								<p>
									Maharaja Agrasen Institute<br>of Technology (MAIT)<br>
									PSP Area, Plot No. 1, Sector 22, Rohini, New Delhi<br>
									Delhi, 110086
								</p>
								<br>
							</div>

							<div class="cinfo">
								<h5 style="color:#2DBE60">Email Us At</h5>
								<p>
									contact@propgage.com<br>
									info@propgage.com
								</p>
								<br>
							</div>

							<div class="cinfo">
								<h5 style="color:#2DBE60">Call Us At</h5>
								<p>
									Phone: (+91) 555 1212<br>
									Mobile: (+91) 9810915879<br>
									Fax: (+63) 555 0101
								</p>
								<br><br>
							</div>

							<ul class="contact-social" style="list-style: none">
								<li style="display: inline-block;margin-right: 15px">
									<a href="#"><i class="fa fa-facebook" style="font-size: 2rem;color: white" aria-hidden="true"></i></a>
								</li>
								<li style="display: inline-block;margin-right: 15px">
									<a href="#"><i class="fa fa-twitter" style="font-size: 2rem;color: white" aria-hidden="true"></i></a>
								</li>
								<li style="display: inline-block;margin-right: 15px">
									<a href="#"><i class="fa fa-instagram" style="font-size: 2rem;color: white" aria-hidden="true"></i></a>
								</li>
								<li style="display: inline-block;margin-right: 15px">
									<a href="#"><i class="fa fa-behance" style="font-size: 2rem;color: white" aria-hidden="true"></i></a>
								</li>
								<li style="display: inline-block;margin-right: 15px">
									<a href="#"><i class="fa fa-dribbble" style="font-size: 2rem;color: white" aria-hidden="true"></i></a>
								</li>
							</ul> <!-- end contact-social -->

						</div> <!-- end contact-info -->
					</div> <!-- end contact-secondary -->
				</div>
			</div>
		</div>
	</div>
</section>

<!--footer-->
<section style="background-color: #111111;padding-top: 112px;padding-bottom: 112px">
	<div class="container">
		<div class="row aos fadeinup">
			<div class="col-md-6 section-header">
				<h2 class="head" style="color:#2DBE60">PropGage.<br><br></h2>
				<p style="line-height: 2;font-size: 1.2em;">We envision being the most reputed company to provide best solution for people looking to scale and progress. We are the best platform for people looking for mortgages as we provide an online marketplace for reverse auction of mortgages. Just put in your requirements and sit back, relax! We will provide the best deal for you.</p>
				<br>
			</div>
			<div class="col-md-6">
				<br>
				<h5 style="color: white">Get Notified<br><br></h5>
				<p style="line-height: 2;font-size: 1.2em;">We regularly update our website and we keep adding new features. To stay updated get in touch with us. Please subscribe to our Newsletter!</p>
				<br><br>
				<div class="subscribe-form">
					<form class="form-horizontal">
  						<div class="form-group">
						    <div class="row">
						    	<div class="col-sm-8">
      								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-envelope" style="font-size: 30px"></i></span>
								    	<input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" placeholder="Email">
									</div>
    							</div>
    							<div class="col-sm-4">
    								<input type="button" for="mc-email" class="btn btn-theme" value="Subscribe">
    							</div>
						    </div>
  						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-12" style="text-align: center;color:white;padding-top: 50px">
			<p style="margin-bottom: 0; color: white;">© Copyright Propgage 2018</p>
		</div>
	</div>
</section>
