<section>
	<div class="overlay"></div>
		<div class="container-fluid intro-section">
			<div class="row">

				<nav class="navbar navbar-transparent" role="navigation">
					<div class="container-fluid">
				    	<div class="navbar-header">
				    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				                <span class="sr-only">Toggle navigation</span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				    		</button>
				    		<a class="navbar-brand" href="#">Propgage <span class="text-primary">.</span></a>
				    	</div>

				    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    		<ul class="nav navbar-nav navbar-right">
								<li class="active"><a href="#"><span class="fa fa-user-plus"></span> Sign Up</a></li>
				        		<li><a href="#"><span class="fa fa-sign-in"></span> Login</a></li>
				    		</ul>
				    	</div>
					</div>
				</nav>

			</div>
			<div class="row">
				<div class="container intro">
					<h4 class="intro-small-heading">Welcome to Glint</h4>
					<h2>We are a creative group <br>
						of people who design <br>
						influential brands and <br>
						digital experiences.
					</h2>
					<ul class="share-icons">
						<li data-toggle="tooltip" data-placement="left" title="Facebook"><a href="#" class="fa fa-facebook"></a> </li>
						<li data-toggle="tooltip" data-placement="left" title="Github"><a href="#" class="fa fa-github"></a></li>
						<li data-toggle="tooltip" data-placement="left" title="Twitter"><a href="#" class="fa fa-twitter"></a></li>
					</ul>
					<a href="#" class="btn btn-theme">Get Started!</a>
				</div>
			</div>
</section>

<section class="land-section-2" style="padding: 100px 10px 50px;text-align:center;">
	<div class="container">
		<div class="section-content-2">
			<div class="section-head-2 aos fadeinup" style="border-bottom: 0.5px solid #fff6;margin:0px 20em;">
				<h4 style="color:black;margin-bottom:0px;">Hello there</h4>
				<h1 style="font-weight:bold;margin-top:0px;padding-bottom:5rem;">PropGage</h1>
			</div>
			<div class="section-desc-2 aos fadeinup" style="color:black">
				<h3>
					We are a creative group
					of people who design
					influential brands and
					digital experiences. We are a creative group
					of people who design
					influential brands and
					digital experiences. We are a creative group
					of people who design
					influential brands and
					digital experiences. We are a creative group
					of people who design
					influential brands and
					digital experiences.
				</h3>
			</div>
			<div class="row aos fadeinup" style="padding:40px 0px 30px 0px">
				<div class="col-sm-3" style="border-right: 0.5px solid #fff6">
					<h1 style="font-weight:bold;">24</h1><br>
					<p>Awards Won</p>
				</div>
				<div class="col-sm-3" style="border-right: 0.5px solid #fff6">
					<h1 style="font-weight:bold;">24</h1><br>
					<p>Awards Won</p>
				</div>
				<div class="col-sm-3" style="border-right: 0.5px solid #fff6">
					<h1 style="font-weight:bold;">24</h1><br>
					<p>Awards Won</p>
				</div>
				<div class="col-sm-3">
					<h1 style="font-weight:bold;">24</h1><br>
					<p>Awards Won</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- What we Do section -->
<section style="padding-top: 162px;padding-bottom: 132px; background-color: white">
	<div class="container">
		<div class="row">
			<div class="col-md-12 aos fadeinup" style="text-align: center;">
				<h3 class="subhead" style="color: #2DBE60">WHAT WE DO</h3>
				<h1 class="mainhead">We’ve got everything you need to launch and grow your business</h1>
				<hr>
			</div>
			<div class="col-md-12">
				<div class="col-md-1 service-icon">
					<i class="icon-paint-brush"></i>
				</div>
				<div class="col-md-5 aos fadeinup">
					<h2>Brand Identity</h2>
					<p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
						Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
						Sunt suscipit voluptas ipsa in tempora esse soluta sint.
					</p>
				</div>
				<div class="col-md-1 service-icon">
					<i class="icon-group"></i>
				</div>
				<div class="col-md-5 aos fadeinup">
					<h2>Illustration</h2>
					<p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
						Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
						Sunt suscipit voluptas ipsa in tempora esse soluta sint.
					</p>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-1 service-icon">
					<i class="icon-megaphone"></i>
				</div>
				<div class="col-md-5 aos fadeinup">
					<h2>Marketing</h2>
					<p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
						Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
						Sunt suscipit voluptas ipsa in tempora esse soluta sint.
					</p>
				</div>
				<div class="col-md-1 service-icon">
					<i class="icon-earth"></i>
				</div>
				<div class="col-md-5 aos fadeinup">
					<h2>Web Design</h2>
					<p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
						Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
						Sunt suscipit voluptas ipsa in tempora esse soluta sint.
					</p>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-1 service-icon">
					<i class="icon-cube"></i>
				</div>
				<div class="col-md-5 aos fadeinup">
					<h2>Packaging Design</h2>
					<p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
						Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
						Sunt suscipit voluptas ipsa in tempora esse soluta sint.
					</p>
				</div>
				<div class="col-md-1 service-icon">
					<i class="icon-lego-block"></i>
				</div>
				<div class="col-md-5 aos fadeinup">
					<h2>Web Development</h2>
					<p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
						Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
						Sunt suscipit voluptas ipsa in tempora esse soluta sint.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Clients section -->
<section style="padding-top: 162px;padding-bottom: 132px;">
	<div class="container">
		<div class="row">

			<div class="col-md-12" style="text-align: center">
				<h3 class="subhead" style="color:#2DBE60 ">Our Clients</h3>
				<h1 class="display-2">PropGage has been honored to
					partner up with these clients</h1>
			</div>

			<div class="col-md-12 clients-outer">

				<div class="clients">

					<a href="#0" title="" class="clients__slide"><img src="../../propgage/app/assets/images/clients/sbi.png" class="client-logo"/></a>
					<a href="#0" title="" class="clients__slide"><img style="height: 192px; width: 182px" src="../../propgage/app/assets/images/clients/bob.png" class="client-logo"/></a>
					<a href="#0" title="" class="clients__slide"><img style="height: 162px; width: 162px" src="../../propgage/app/assets/images/clients/pnb.png" class="client-logo"/></a>
					<a href="#0" title="" class="clients__slide"><img style="height: 182px; width: 192px" src="../../propgage/app/assets/images/clients/Icici.png" class="client-logo"/></a>
					<a href="#0" title="" class="clients__slide"><img style="height: 162px; width: 182px" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/64/YESBANKLOGO.png/1200px-YESBANKLOGO.png" class="client-logo"/></a>
					<a href="#0" title="" class="clients__slide"><img style="height: 162px; width: 162px" src="https://media.9curry.com/uploads/organization/image/1617/thumbnail_union-bank-of-india-logo.png" class="client-logo"/></a>
					<a href="#0" title="" class="clients__slide"><img style="height: 182px; width: 162px" src="../../propgage/app/assets/images/clients/rbs.png" class="client-logo"/></a>
					<a href="#0" title="" class="clients__slide"><img style="height: 162px; width: 162px" src="../../propgage/app/assets/images/clients/canara.png" class="client-logo"/></a>

				</div> <!-- end clients -->
			</div> <!-- end clients-outer -->
			<hr>
			<div class="col-md-12 clients-testimonials">
				<div class="col-full">
					<div class="testimonials">

						<div class="testimonials__slide">

							<p>Qui ipsam temporibus quisquam vel. Maiores eos cumque distinctio nam accusantium ipsum.
								Laudantium quia consequatur molestias delectus culpa facere hic dolores aperiam. Accusantium quos qui praesentium corpori.
								Excepturi nam cupiditate culpa doloremque deleniti repellat.</p>

							<img src="../../propgage/app/assets/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
							<div class="testimonials__info">
								<span class="testimonials__name">Tim Cook</span>
								<span class="testimonials__pos">CEO, Apple</span>
							</div>

						</div>

						<div class="testimonials__slide">

							<p>Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
								Nisi eaque consequatur. Quasi voluptas eius distinctio. Atque eos maxime. Qui ipsam temporibus quisquam vel.</p>

							<img src="../../propgage/app/assets/images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
							<div class="testimonials__info">
								<span class="testimonials__name">Sundar Pichai</span>
								<span class="testimonials__pos">CEO, Google</span>
							</div>

						</div>

						<div class="testimonials__slide">

							<p>Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.
								Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.</p>

							<img src="../../propgage/app/assets/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
							<div class="testimonials__info">
								<span class="testimonials__name">Satya Nadella</span>
								<span class="testimonials__pos">CEO, Microsoft</span>
							</div>

						</div>

					</div><!-- end testimonials -->

				</div> <!-- end col-full -->
			</div> <!-- end client-testimonials -->
		</div>
	</div>
</section>

<!--Contact Section -->
<section style="padding-top: 162px;padding-bottom: 132px;background-color: #151515">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-header" style="text-align: center">
				<h3 class="subhead" style="color:#2DBE60 ">Contact Us</h3>
				<h1 style="color: white">Reach out for a new project or just say hello</h1>
				<br>
			</div>

			<div class="col-md-12 contact-content">
				<div class="col-md-7" style="background-color: #00000094;height: 610px;padding-left: 35px;padding-top: 20px">
					<div class="contact-primary">

						<h3 style="color:#2DBE60">Send Us A Message<br><br><br></h3>

						<form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
							<fieldset>

								<div class="form-field">
									<input name="contactName" type="text" id="contactName" placeholder="Your Name" value="" minlength="2" required="" aria-required="true" class="full-width">
								</div>
								<div class="form-field">
									<input name="contactEmail" type="email" id="contactEmail" placeholder="Your Email" value="" required="" aria-required="true" class="full-width">
								</div>
								<div class="form-field">
									<input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width">
								</div>
								<div class="form-field">
									<textarea name="contactMessage" id="contactMessage" placeholder="Your Message" rows="5" cols="50" required="" aria-required="true" class="full-width" style="height: auto;"></textarea>
								</div>
								<div class="form-field">
									<button class="btn full-width submit">Submit</button>
									<!--<div class="submit-loader">-->
									<!--<div class="text-loader">Sending...</div>-->
									<!--<div class="s-loader">-->
									<!--<div class="bounce1"></div>-->
									<!--<div class="bounce2"></div>-->
									<!--<div class="bounce3"></div>-->
									<!--</div>-->
									<!--</div>-->
								</div>

							</fieldset>
						</form>

						<!--&lt;!&ndash; contact-warning &ndash;&gt;-->
						<!--<div class="message-warning">-->
						<!--Something went wrong. Please try again.-->
						<!--</div>-->

						<!--&lt;!&ndash; contact-success &ndash;&gt;-->
						<!--<div class="message-success">-->
						<!--Your message was sent, thank you!<br>-->
						<!--</div>-->

					</div> <!-- end contact-primary -->
				</div>

				<div class="col-md-5" style="height:610px;background-color: #121212;color:rgba(255, 255, 255, 0.4);padding-left: 35px;padding-top: 20px">
					<div class="contact-secondary">
						<div class="contact-info">

							<h5 style="color: white"><strong>Contact Info</strong></h5>
							<br><br>
							<div class="cinfo">
								<h5 style="color:#2DBE60">Where to Find Us</h5>
								<p>
									Maharaja Agrasen Institute<br>of Technology (MAIT)<br>
									PSP Area, Plot No. 1, Sector 22, Rohini, New Delhi<br>
									Delhi, 110086
								</p>
								<br>
							</div>

							<div class="cinfo">
								<h5 style="color:#2DBE60">Email Us At</h5>
								<p>
									contact@propgage.com<br>
									info@propgage.com
								</p>
								<br>
							</div>

							<div class="cinfo">
								<h5 style="color:#2DBE60">Call Us At</h5>
								<p>
									Phone: (+91) 555 1212<br>
									Mobile: (+91) 9810915879<br>
									Fax: (+63) 555 0101
								</p>
								<br><br>
							</div>

							<ul class="contact-social" style="list-style: none">
								<li style="display: inline-block;margin-right: 15px">
									<a href="#"><i class="fa fa-facebook" style="font-size: 2rem;color: white" aria-hidden="true"></i></a>
								</li>
								<li style="display: inline-block;margin-right: 15px">
									<a href="#"><i class="fa fa-twitter" style="font-size: 2rem;color: white" aria-hidden="true"></i></a>
								</li>
								<li style="display: inline-block;margin-right: 15px">
									<a href="#"><i class="fa fa-instagram" style="font-size: 2rem;color: white" aria-hidden="true"></i></a>
								</li>
								<li style="display: inline-block;margin-right: 15px">
									<a href="#"><i class="fa fa-behance" style="font-size: 2rem;color: white" aria-hidden="true"></i></a>
								</li>
								<li style="display: inline-block;margin-right: 15px">
									<a href="#"><i class="fa fa-dribbble" style="font-size: 2rem;color: white" aria-hidden="true"></i></a>
								</li>
							</ul> <!-- end contact-social -->

						</div> <!-- end contact-info -->
					</div> <!-- end contact-secondary -->
				</div>
			</div>
		</div>
	</div>
</section>

<!--footer-->
<section style="background-color: #111111;padding-top: 112px;padding-bottom: 112px">
	<div class="container">
		<div class="row">
			<div class="col-md-6 section-header">
				<h2 class="head" style="color:#2DBE60">PropGage.<br><br></h2>
				<p>Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Quaerat voluptas autem necessitatibus vitae aut.</p>
				<br>
			</div>
			<div class="col-md-6">
				<br>
				<h5 style="color: white">Get Notified<br><br></h5>
				<p>Quia quo qui sed odit. Quaerat voluptas autem necessitatibus vitae aut non alias sed quia. Ut itaque enim optio ut excepturi deserunt iusto porro.</p>
				<br><br>
				<div class="subscribe-form">
					<form class="form-horizontal">
  						<div class="form-group">
						    <div class="row">
						    	<div class="col-sm-8">
      								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-envelope" style="font-size: 30px"></i></span>
								    	<input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" placeholder="Email">
									</div>
    							</div>
    							<div class="col-sm-4">
    								<input type="button" for="mc-email" class="btn btn-theme" value="Subscribe">
    							</div>
						    </div>
  				</div>
			</div>
			<div class="col-md-12" style="text-align: center;color:white;padding-top: 50px">
				<h4 style="margin-bottom: 0">© Copyright Propgage 2018</h4>
			</div>
		</div>
	</div>
</section>
