<%= render "navbarPrimary" %>

<div class="container-fluid" style="height: 100%; width: 100%; margin-bottom: 40px;">

	<div class="row">
		<div class="col-lg-12 img-cover">
			<div class="container">
				<div class="col-md-4 col-sm-12 text-center">
					<img class="img-profile" src="http://via.placeholder.com/40x40" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			
			<!-- Some info --> 
			<div class="col-md-4 col-sm-12">     
				<div class="card">      
				 <div class="card-body">
				 	<div class="card- text">             
				 		<h3 class="text-center text-primary">Shivam Kaushik</h3> 
				 		<ul class ="info-sidebar"> 
				 			<li> <span class="fa fa-briefcase"></span> Works as <span class="text-primary">Business man</span></li> 
				 			<li><span class="fa fa- home"></span> lives at <span class="text-primary">Pooth Kalan</span></li> 
				 			<li><span class="fa fa-star"></span> lorem ipsum <span class="text-primary"> some more lorem ipsum</span></li> 
							<li><span class="fa fa-star"></span> lorem ipsum <span class="text-primary"> some more lorem ipsum</span></li> <li><span class="fa fa-star"></span> lorem ipsum
			<span class="text-primary"> some more lorem ipsum</span></li> <li><span class="fa fa-star"></span> lorem
			ipsum <span class="text-primary"> some more lorem ipsum</span></li>             </ul>         </div>
			</div> </div> </div>
			
			<!-- Feeds -->
			<div class="col-md-6 col-sm-12">

				<div class="card card-nav-tabs card-plain">
					<div class="header header-primary">
						<!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
						<div class="nav-tabs-navigation">
							<div class="nav-tabs-wrapper">
								<ul class="nav nav-tabs" data-tabs="tabs">
									<li class="active"><a href="#feeds" data-toggle="tab" aria-expanded="true">Feeds<div class="ripple-container"></div></a></li>
									<li class=""><a href="#stats" data-toggle="tab" aria-expanded="false">Stats<div class="ripple-container"></div></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content">
						<div class="tab-content text-center">
							<div class="tab-pane active" id="feeds">
								
								<!-- post -->
								<%= render "post" %>

							</div>
							<div class="tab-pane" id="stats">
								<div class="card">
									<div class="content" style="padding: 20px;">
										 <!-- line_chart (User.bids.pluck(:created_at) + User.post.pluck(:created_at)).group_by_day(:created_at).count -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>


		</div>	
	</div>

</div>