$primary-color:        #2DBE60;
$primary-color-dark:   darken($primary-color, 15);
$primary-color-light:  lighten($primary-color, 15);
$primary-color-text:   #FFFFFF;
$secondary-color:      #32292f;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$primary-color-gradient-1: #2fc47e;
