<div id="post-carousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <img src="http://via.placeholder.com/200x200/2DBE60" alt="...">
      <div class="carousel-caption">
        Desc
      </div>
    </div>

    <div class="item">
      <img src="http://via.placeholder.com/200x200/00FF00" alt="...">
      <div class="carousel-caption">
        Desc
      </div>
    </div>
    
  </div>

  <!-- Controls -->
  <a href="#post-carousel" class="left carousel-control" data-slide="prev">
      <span class="icon-prev fa-stack fa-lg" style="font-size: 3em; font-weight: bold; position: relative; left: -20%;">
          <!-- <i class="fa fa-square-o fa-stack-2x"></i> -->
          <i class="fa fa-angle-left"></i>
      </span>
  </a>
  <a href="#post-carousel" class="right carousel-control" data-slide="next">
      <span class="icon-next fa-stack fa-lg" style="font-size: 3em; font-weight: bold; position: relative; right: -20%;">
          <!-- <i class="fa fa-square-o fa-stack-2x"></i> -->
          <i class="fa fa-angle-right"></i>
      </span>
  </a>
</div>