// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//shivam css
*{
	box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

$front-section-height: 950px;

html{
	font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}

.bold{
	font-weight: bold;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	min-height: $front-section-height;
	height:  90vh;
	@include tablet{
		min-height: 750px;
	}
	@include desktop{
		min-height: 780px;
	}
	background: rgba(0, 0, 0, 0.8);
}
.intro-section{
	height:  90vh;
	min-height: $front-section-height;
	@include tablet{
		min-height: 750px;
	}
	@include desktop{
		min-height: 780px;
	}
	background: black;
	color: white;
	background-image: url('/assets/hero-bg-2.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: fill;
    background-size: cover;
}

.navbar.navbar-transparent{
	.navbar-header{
		.navbar-brand{
			font-weight: 900;
			font-size: 3.5rem;
		}
	}
	.nav.navbar-nav{

		.active{
			a{
				background: none;
			}
		}

		li{
			padding-bottom: 5px;
			font-size: 1.5em;
			&:hover{
				border-bottom: 5px solid $primary-color;
				padding-bottom: 0px;
				transition: border-bottom 0.2s ease-in-out;
			}
		}
	}
}

.intro{
	padding-top: 5%;
	position: relative;
	.intro-small-heading{
		font-family: 'Montserrat', sans-serif;
		font-size: 2em;
	}
	h2{
		font-family: 'Montserrat', sans-serif;
		font-weight: 900;
		font-size: 4.6rem;
		margin-bottom: 4rem;
	}
}

.btn-theme{
	background: transparent;
	box-shadow: none;
	font-weight: 600;
	font-size: 1.5rem;
	border: 0.2rem solid white;
	&:hover{
		background: white;
		color: black;
		transition: all 0.5s ease-in-out;
	}
}

.share-icons{
	display: none;
	@media (min-width: #{$tablet-width}){
		display: inline-block;
		list-style: none;
		font-size: 2.5rem;
		line-height: 1.5;
		position: absolute;
		top: 45%;
		right: 20px;
		li{
			a{
				color: white;
				text-decoration: none;
				&:hover{
					color: $primary-color;
				}
			}
		}
	}
}

//ankush css
.land-section-2{
  background: #39b54a;
  color: white;
}
.aos.fadeinup{
  transition: 1s ease;
  position: relative;
  top: 30px;
  opacity: 0
}

.aos.doanime{
  top: 0 !important;
  opacity: 1 !important;
}

.section-content-2{
	.section-head-2{
		h1{
			font-size: 5em;
			font-weight: bold;
		}
	}
}

.stats_count{
	font-size: 6em;
}
.stats_heading{
	font-weight: bold;
	color: $primary-text-color;
	font-size: 1.5em;
}

.service-item-text{
	font-family: 'Montserrat', sans-serif;
	p{
		color: $secondary-text-color;
		font-size: 1.1em;
	}
}

.service-icon{
	color: $primary-color;
	font-size: 3em;
	margin: 20px auto;
}

// Divyansh

.btn.full-width, button.full-width {
    width: 100%;
    margin-right: 0;
}

.submit{
	background: $primary-color;
	border: 1px $primary-color solid;
	height: 5rem;
	box-shadow:none !important;
	&:hover{
		background: $primary-color-dark;
		border:  $primary-color-dark;
		transition: border 0.5s ease-in-out;
	}
}

.full-width{
	    width: 100%;
}

button, input {
    overflow: visible;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
    display: block;
    height: 6rem;
    padding: 1.5rem 0;
    border: 0;
    outline: none;
    color: #333333;
    font-family: "montserrat-light", sans-serif;
    font-size: 1.4rem;
    line-height: 3rem;
    max-width: 100%;
    background: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:focus{
    	border-bottom: 2px solid $primary-color;
    	transition: border-bottom 0.5s ease-in-out;
    }
}

#mc-email {
    width: 100%;
    height: 5rem;
    background-size: 24px 16px, auto;
    border: none;
    margin-bottom: 1.8rem;
    color: rgba(255, 255, 255, 0.5);
}

//deepak css
.slick-dots li.slick-active button:before{
	color: green !important;
}

